<style>
    .container {
        width: 100%;
        background-color: red;
        display: flex;
        justify-content: center;
    }
</style>

<main>
    <div class="container">
        <h1>Você está na main!</h1>
    </div>
</main>
